<div class="container" *ngIf = "tvItems$ | async as tvItems">
    <div class="row">
        <div class="card col-lg-4 text-center" *ngFor="let item of tvItems">
            <a class="card-title" [routerLink]="['/movies', item.movie.id]"><h5>{{item.movie.title}} {{item.movie.rating}}</h5></a>
            <div class="card-body">
                <div class="card-img">
                    <img src = "{{'http://localhost:80/Movies/' + item.movie.imageUrl}}" />
                </div>
                    <p class="card-text text-center">{{item.movie.category}} {{item.movie.country}}'{{item.movie.year}}</p>
                    
                <div class="table">
                    <tr>
                        <td><p>{{item.channel.name}}</p></td>
                        <td>{{item.startTime | date: 'dd.MMMM HH:mm'}}</td>
                        <td>
                            <button class="btn btn-primary"  [routerLink]="['/recordings', 0, item.movie.id, item.startTime]">Rec</button>
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>