<div class="container">
    <div class="form-group">
        <label class="col-form-label">Movie title</label>
        <input class="form-control"  [(ngModel)]="recording.movie.title"/>
    </div>

    <div class="form-group">
        <label class="col-form-label">Year</label>
        <input class="form-control"  [(ngModel)]="year"/>
    </div>

    <div class="form-group">
        <label class="col-form-label">Month</label>
        <input class="form-control"  [(ngModel)]="month"/>
    </div>

    <div class="form-group">
        <label class="col-form-label">Day</label>
        <input class="form-control"  [(ngModel)]="day"/>
    </div>

    <button class="btn btn-primary" (click)="save()">Save</button>
    <button class="btn btn-primary" style="margin-left: 10px;">Cancel</button>
</div>
