@{
    ViewData["Title"] = "Home Page";
}
@model TvItemsViewModel

<div class="container">
    <div class="card-deck">

        @foreach (var item in @Model.TvItems)
        {
            @await Component.InvokeAsync("TvItem", item)
        }
    </div>
</div>

