@{
    ViewData["Title"] = "Home Page";
}
@model TvItemsViewModel
@if (Context.User.Identity.IsAuthenticated)
{
    <div class="container">
        <div class="card-deck">

            @foreach (var item in @Model.TvItems)
            {
                @await Component.InvokeAsync("TvItem", item)
            }
        </div>
    </div>
}

